<br>
  <div class="form-margin">
    <%= form_with(model: @note, local: true) do |f| %>
      <div class="jumbotron jumbotron-fluid border border-light <%= note.bodycolor.value %>">
        <div class="form-group">
          <div class="row">
            <div class="col-md-7 mb-3">
              <%= f.text_field :title, class: "form-control", placeholder: "Title", maxlength: 64%>
            </div>
            <div class="col-md-3 mb-3">
              <%=f.select :bodycolor_id, Bodycolor.all.collect{|x| [x.name, x.id]}, {}, class: "form-control", id: :note_bodycolor_id, prompt: "Select a colour" %>
            </div>
            <div class="col-md-2 mb-3">
              <%= f.submit :Save, class: "btn btn-block btn-outline-success"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <br>
          <%= f.text_field :description, class: "form-control", placeholder: "Description", maxlength: 128%>
          <br>
          <hr>
          <%= f.rich_text_area :content, maxlength: 10, placeholder: "Content" %>
        </div>
      </div>
    <% end %>
  </div>
</div>