<style>
  body
  {
    background: rgb(21,0,60);
    background: linear-gradient(203deg, rgba(21,0,60,1) 0%, rgba(22,49,101,1) 39%, rgba(255,111,0,1) 100%);
  }
</style>
<br>
  <div class="form-margin">
    <%= form_with(model: @note, local: true) do |f| %>
      <div class="jumbotron jumbotron-fluid bg-card-yellow border-top-yellow text-dark">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-10 mb-2">
              <%= f.text_field :title, class: "form-control", placeholder: "Title", maxlength: 64 %>
            </div>
            <div class="col-md-2 mb-2">
              <%= f.select :bodycolor_id, Bodycolor.all.collect{|x| [sanitize(x.name), (x.id)]}, {}, prompt: "Select a colour", class: "form-control", id: :note_bodycolor_id %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.text_field :description, class: "form-control", placeholder: "Description", maxlength: 128 %>
          <br>
          <%= f.rich_text_area :content, placeholder: "Content" %>
        </div>
        <br>
        <div class ="form-group">
          <%= f.submit :DONE, class: "btn btn-outline-primary"%>
        </div>
      </div>
    <% end %>
  </div>
<br>
<br>
<br>