<style>
  body
  {
    background: rgb(133,209,30);
    background: linear-gradient(203deg, rgba(133,209,30,1) 0%, rgba(41,144,98,0.7147233893557423) 39%, rgba(201,150,19,1) 100%);
  }

  .container
  {
    background-color: #F5F5F5;
  }
</style>

<div class="container border border-secondary">
  <% if (@nonrecycled_notes.count == 0) %>
    <div class="mb-3">
      <h1>It seems that you don't have any notes!</h1>
      <%= link_to 'Create your first note!', new_note_path %>
    </div>
  <% else %>
    <div class="card-columns m-3">
      <% @nonrecycled_notes.each do |note|%>
        <div class="card rounded-bottom m-3 <%= note.bodycolor.value%>">
          <div class="card-header"><h5 class="card-title"><b><%= note.title%></b></h5></div>
          <div class="card-body">
            <p class="card-text">
            <% if(note.description != "") %>
              <%= note.description %>
            <% else %>
              <%= note.content[0..120]%>
            <% end %>
            </p>
            <%=link_to image_tag("edit.png", width: 28, height: 28), edit_note_path(note), class: 'card-link' %>
            <%=link_to image_tag("view.png", width: 28, height: 28), note, class: 'card-link' %>
          </div>
          <div class="card-footer">
            <small class="text-dark"> Last update: <%= note.updated_at.localtime%></small>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
