<% if (@nonrecycled_notes.count == 0) %>
  <div class="container border border-secondary" style="height:100vh;">
    <div class="mb-3">
      <h1 style="text-align: center;">It seems that you don't have any notes!</h1>
      <h4 style="text-align: center;">If you had any notes, check the search bar (in case you have any active filters) or the recycling bin</h4>
      <br>
      <%=link_to image_tag("recycle.png", width: 28, height: 28), root_path, class: 'btn btn-lg btn-outline-success float-right' %>
      <%= link_to 'Create your first note!', new_note_path, class: 'btn btn-lg btn-success mx-auto' %>
    </div>
  </div>
<% else %>
  <div class="container border border-secondary" style="
    <% if(@nonrecycled_notes.count <= 3) %>
      <%= "height:100%;" %>
    <% else %>
      <%= " " %>
    <% end %>">
    <br>
    <%=link_to image_tag("recycle.png", width: 28, height: 28), root_path, class: 'btn btn-lg btn-outline-success float-right' %>
    <h1 style="text-align: center;">Your notes</h1>
    <hr>
    <div class="card-columns m-3">
      <%= render @nonrecycled_notes %>
    </div>
  </div>
  <br>
  <br>
<% end %>
