<% @nonrecycled_notes.each_slice(4) do |four_notes| %>
  <div class="row mx-auto">
    <% four_notes.each do |note|%>
      <div class="card border border-light mx-auto <%= note.bodycolor.value%>" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><b><%= note.title%></b></h5>
          <p class="card-text"><%= note.description %></p>
          <a href='<%= edit_note_path(note) %>' class="card-link"><%= image_tag 'edit.png', width: 28, height: 28 %></a>
          <%=link_to image_tag("view.png", width: 28, height: 28), note, class: 'card-link' %>
        </div>
        <div class="card-footer">
          <% if(note.bodycolor.value == "bg-light text-dark border border-dark")%>
            <small class="text-dark"> Last update: <%= note.updated_at.localtime%></small>
          <% else %>
            <small class="text-white"> Last update: <%= note.updated_at.localtime%></small>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>