<% if(user_signed_in?) %>
<br>
<br>
<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a href='<%= new_note_path %>'><%= image_tag 'key.png', width: 42, height: 42 %></a>
    </li>
  </ul>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a href='<%= notes_path %>'><%= image_tag 'notepad.png', width: 42, height: 42 %></a>
    </li>
  </ul>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a href='<%= root_path %>'><%= image_tag 'calendar.png', width: 42, height: 42 %></a>
    </li>
  </ul>
</nav>
<% end %>