<%= stylesheet_link_tag 'landing.css' %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom-navbar 
<% if(current_page? root_path) && (user_signed_in? == false) %>
  <%= "fixed-top"%>
<% else %>
  <%= " " %>
<% end %>">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <%= link_to  "MyOwnSpace", root_path, class: 'navbar-brand disabled brand-color' %>
    </li>
  </ul>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <!-- User in notes/index -->
      <% if(current_page?(notes_path))%>
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><%=link_to image_tag("home.png", width: 18, height: 18), root_path %></a></span>
            </div>
              <%= text_field_tag :note_search, '', class: 'form-control', placeholder:'Search a note by title', name: 'note_search' %>
            <div class="input-group-prepend">
              <span class="input-group-text rounded-right" id="basic-addon2"><%=link_to image_tag("plus.png", width: 22, height: 22), new_note_path %></span>
            </div>
          </div>
        </form>
      <!-- User in notes/new -->
      <% elsif (current_page?(new_note_path))%>
        <%= link_to 'Back to your notes', notes_path, class: 'btn btn-outline-warning' %>
      <!-- User in infos/new -->
      <% elsif (current_page?(new_info_path))%>
        <%= link_to 'Back to your passwords', infos_path, class: 'btn btn-outline-warning' %>
      <!-- User in infos/index -->
      <% elsif (current_page?(infos_path))%>
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><%=link_to image_tag("home.png", width: 18, height: 18), root_path %></a></span>
            </div>
              <%= text_field_tag :info_search, '', class: 'form-control', placeholder:'Search by service', name: 'info_search' %>
            <div class="input-group-prepend">
              <span class="input-group-text rounded-right" id="basic-addon2"><%=link_to image_tag("plus.png", width: 22, height: 22), new_info_path %></span>
            </div>
          </div>
        </form>
      <% end %>
    </li>
  </ul>
  <!-- Sidebar -->
  <button onclick="openNav()" class="btn btn-outline-secondary mx-auto">My Account</button>
</nav>