<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom-navbar">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <%= link_to  "MyOwnSpace", root_path, class: 'navbar-brand disabled brand-color' %>
    </li>
  </ul>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <!-- User in notes/index -->
      <% if(current_page?(notes_path))%>
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><%=link_to image_tag("home.png", width: 18, height: 18), root_path %></a></span>
            </div>
            <%= text_field_tag :note_search, "", placeholder: 'Search a note by title', class: 'form-control' %>
            <div class="input-group-prepend">
              <span class="input-group-text rounded-right" id="basic-addon2"><%=link_to image_tag("plus.png", width: 22, height: 22), new_note_path %></span>
            </div>
          </div>
        </form>
      <!-- User in notes/new -->
      <% elsif (current_page?(new_note_path))%>
        <%= link_to 'Back to your notes', notes_path, class: 'btn btn-outline-secondary mr-5 rounded rounded-pill' %>
        <button class="btn btn-outline-secondary rounded-pill ml-5" id="more-info"> Info </button>
      <!-- User in infos/new -->
      <% elsif (current_page?(new_info_path))%>
        <%= link_to 'Back to your passwords', infos_path, class: 'btn btn-outline-secondary' %>
      <!-- User in recyclebin -->
      <% elsif (current_page?(recyclebin_path))%>
        <%= link_to 'Back to your notes', notes_path, class: 'btn btn-outline-secondary mr-5' %>
        <%= link_to 'DELETE ALL', clean_path, class: 'btn btn-outline-danger ml-5', data: {confirm: "Are you sure? This will permanently delete ALL your notes (can't be recovered)!"} %>
      <!-- User in infos/index -->
      <% elsif (current_page?(infos_path))%>
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><%=link_to image_tag("home.png", width: 18, height: 18), root_path %></a></span>
            </div>
              <%= text_field_tag :info_search, "", placeholder: 'Search by service', class: 'form-control' %>
            <div class="input-group-prepend">
              <span class="input-group-text rounded-right" id="basic-addon2"><%=link_to image_tag("plus.png", width: 22, height: 22), new_info_path %></span>
            </div>
          </div>
        </form>
      <% end %>
    </li>
  </ul>
  <!-- Sidebar -->
  <button onclick="openNav()" class="btn btn-outline-warning mx-auto">My Account</button>
</nav>