<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom-navbar">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <%= link_to  "MyOwnSpace", root_path, class: 'navbar-brand disabled brand-color' %>
    </li>
  </ul>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <% if(current_page?(notes_path))%>
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><%=link_to image_tag("home.png", width: 18, height: 18), root_path %></a></span>
            </div>
            <input type="text" class="form-control" placeholder="Note" aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
              <span class="input-group-text rounded-right" id="basic-addon2"><%=link_to image_tag("plus.png", width: 22, height: 22), new_note_path %></span>
            </div>
          </div>
        </form>
      <% elsif (current_page?(new_note_path))%>
        <%= link_to 'Back to your notes', notes_path, class: 'btn btn-outline-warning' %>
      <% end %>
    </li>
  </ul>
  <ul class="navbar-nav dropdown mx-auto">
    <li class="nav-item">
      <a class="nav-link btn btn-sm btn-outline-secondary dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Account </a>
      <div class="dropdown-menu border-dropdown">
        <% if user_signed_in? %>
          <p class="dropdown-item">Welcome, <%= current_user.username %>!</p>
          <hr class="dropdown-separator">
          <%= link_to 'My Profile', root_path, class: 'dropdown-item' %>
          <%= link_to 'Friends', root_path, class: 'dropdown-item' %>
          <%= link_to 'Configuraion', root_path, class: 'dropdown-item' %>
          <hr class="dropdown-separator">
          <%= link_to 'Log-out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        <% else %>
          <%= link_to 'Log-in', new_user_session_path, class: 'dropdown-item' %>
          <%= link_to 'Register', new_user_registration_path, class: 'dropdown-item' %>
        <% end %>
      </div>
    </li>
  </ul>
</nav>
