<% content_for :head do %>
  <%= stylesheet_link_tag 'landing.css' %>
<% end %>
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <br>
      <h1 class="masthead-heading mb-0 text-dark">MyOwnSpace</h1>
      <h2 class="masthead-subheading mb-0 text-dark">A space for yourself</h2>
      <h4 class="text-dark">A secure password, note and event storage app.</h4>
      <% if(user_signed_in?)%>
        <%= link_to 'Go to your notes!', notes_path, class: 'btn btn-outline-primary btn-xl rounded-pill mt-5 mb-5' %>
      <% else %>       
        <%= link_to 'Get started!', new_user_session_path, class: 'btn btn-outline-primary btn-xl rounded-pill mt-5 mb-5' %>
      <% end %>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag 'Landing-01.jpg', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">For the productive ones</h2>
          <p>No more having separate applications for passwords, notes and calendar. Managing all that can be really time consuming. MyOwnSpace has it all, and does it all for you. Store your passwords with military-grade encryption, store your notes and share them with someone else, add events and details to your calendar.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag 'Landing-02.png', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">For the organized ones</h2>
          <p>Your notes and passwords can be sorted by color, update or creation date, or randomly. Want to share your notes with someone else? No problem!, with just a few clicks, they can see what you shared with them!.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag 'Landing-03.png', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">For the creative ones</h2>
          <p>Colors for all types of moods or importances. Want another color in this line-up? No problem!, MyOwnSpace does monthly polls to add new colors sugested by users!. Want to see one of your own? Join us and participate!.</p>
          <br>
          <br>
          <span class="badge badge-yellow">..</span> Yellow     
          <span class="badge badge-black">..</span> Black     
          <span class="badge badge-grey">..</span> Grey     
          <span class="badge badge-red">..</span> Red     
          <span class="badge badge-green">..</span> Green      
          <span class="badge badge-purple">..</span> Purple     
          <span class="badge badge-orange">..</span> Orange     
          <span class="badge badge-white border border-black">..</span> White     
          <span class="badge badge-blue">..</span> Blue     
          <i class="badge badge-blue">..</i> Blue     
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag 'Landing-04.png', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Issues with your data?</h2>
          <p>Don't worry!, the support service at MyOwnSpace will be happy to provide you with as much help as they can. Whether it is with data recovery or any questions you might have, we are happy to help!.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag 'Landing-05.jpg', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">With you, wherever you go</h2>
          <p>Soon, the team at MyOwnSpace will be releasing the downloadable app for the Google Play Store and Apple's App Store, so you can keep track of all your information, even without internet connection!.</p>
          <%=link_to image_tag("download-on-google.png", height: 64, width: 182), root_path %>
          <%=link_to image_tag("download-on-apple.png", height: 54, width: 182), root_path %>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag 'Landing-06.png', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">High-security encryption</h2>
          <p>With military-grade encryption, even in case of a cyber attack, your information cannot be stolen. The high-security end-to-end encryption allows you <b>(and only you)</b> to see your information.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag 'Landing-07.jpg', class: "img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Multi-platform!</h2>
          <p>You can view all your events, passwords and notes in any device that has a screen on it!. Your phone, notebook, computer, TV, smartwatch, anything.</p>
        </div>
      </div>
    </div>
  </div>
</section>