<br>
<div class="form-margin">
  <%= form_with(model: @info, local: true) do |f| %>
    <div class="jumbotron jumbotron-fluid border border-light bg-card-black border-top-black text-black">
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6">
            <h1><b>Store a new password</b></h1>
          </div>
          <div class="col-md-6">
            <%= f.select :bodycolor_id, Bodycolor.all.collect{|x| [raw(x.name), x.id]}, {}, class: "form-control w-25 float-right", id: :note_bodycolor_id, prompt: "Select a colour"%>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="form-row">
          <br>
          <div class="col-md-6">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, class: "form-control", placeholder: "Example: james.smith", maxlength: 128 %>
            <br>
          </div>
          <div class="col-md-6">
            <%= f.label :service_name %>
            <%= f.text_field :servicename, class: "form-control", placeholder: "Example: Facebook"%>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <%= f.label :password %>
            <%= f.text_field :password, class: "form-control", placeholder: "Password", maxlength: 128 %>
            <br>
          </div>
          <div class="col-md-6">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control", placeholder: "Example: james.smith@gmail.com", maxlength: 128 %>
            <br>
          </div>
        </div>
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", placeholder: "Extra notes, such as recovery codes, etc...", maxlength: 500%>
      </div>
      <div class ="form-group">
        <%= f.submit :DONE, class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
<br>
<br>

