<div class="container border border-secondary">
  <% if (@infos.count == 0) %>
    <div class="mb-3">
      <h1>It seems that you don't have any passwords stored!</h1>
      <%= link_to 'Create your first password!', new_info_path %>
    </div>
  <% else %>
    <div class="card-columns m-3">
      <% @infos.each do |info|%>
        <div class="card rounded-bottom m-3 <%= info.bodycolor.value%>">
          <div class="card-header"><h5 class="card-title"><b><%= info.servicename%></b></h5></div>
          <div class="card-body">
            <p class="card-text"><%= info.username %></p>
            <p class="card-text"><%= info.email %></p>
            <p class="card-text"><%= info.password %></p>
            <p class="card-text"><%= info.content %></p>
            <%=link_to image_tag("edit.png", width: 28, height: 28), edit_info_path(info), class: 'card-link' %>
            <%=link_to image_tag("view.png", width: 28, height: 28), info, class: 'card-link' %>
          </div>
          <div class="card-footer">
            <small class="text-dark"> Last update: <%= info.updated_at.localtime%></small>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
