<%= stylesheet_link_tag 'infos.css' %>
<div class="container-fluid">
  <div class="form-margin">
    <div class="card <%= @info.bodycolor.value%>">
      <div class="card-header">
        <%= link_to 'EDIT PASSWORD', edit_info_path, class: "btn btn-xl btn-outline-secondary float-right" %>
        <h1 class="display-4"><%= @info.servicename %></h1>
      </div>
      <div class="card-body">
        <p class="card-text"><b>Nickname:</b><br><%= @info.nickname %></p>
        <p class="card-text"><b>Email:</b><br><%= @info.email %></p>
        <p class="card-text"><b>Password:</b><br><%= @info.password %></p>
        <hr>
        <p class="card-text"><b>Extra notes:</b></p><%= @info.content %>
      </div>
    </div>
  </div>
</div>
<br>
<br>