<p id="notice"><%= notice %></p>

<p>
  <strong>Bodycolor:</strong>
  <%= @info.bodycolor_id %>
</p>

<p>
  <strong>Servicename:</strong>
  <%= @info.servicename %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @info.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @info.password %>
</p>

<p>
  <strong>Content:</strong>
  <%= @info.content %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
